@font-face {
    font-family: 'FluxisheElse';
    font-weight: normal;
    src: url('../assets/fonts/FluxischElse-Bold.woff') format('woff');
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    quotes: "\201C" "\201D";
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    /* COLORS */
    --off-white: #FFE6C2;
    --purple: #65008a;
    --orange: #c94700;
    --red: #db000b;
    --pink: #de006f;
    --blue: #0027a8;
}

p, h1, h2, h3, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}

button {
    background: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
}

a {
	color: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    font-family: 'FluxisheElse', sans-serif;
    background-color: var(--off-white);
    font-size: 20px;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
}

/* OVERRIDES FOR SPECIAL CASES */
@media screen and (min-width: 600px) {
    #almost-right .TitleSlide {
        align-items: center;
    }
    #almost-right .title {
        width: 100%;
        max-width: 1100px;
        align-items: center;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Hide focus ring for mouse users */
[data-whatintent='mouse'] *:focus {
    outline: 0 !important;
}
